p {
    text-align: center;
}

#TAWAN {
    color: white;
}

#yl {
    background-color: yellow;
}

#pp {
    background-color: purple;
}

td {
    border: 1px solid black;
}

table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    position: absolute; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0;
}